name: Deploy to Coolify

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Coolify Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            curl -X POST http://localhost:8000/api/v1/deploy?uuid=n4kk0wswsgc80sgg0gsg4wg4&force=true \
              -H "Authorization: Bearer ${{ secrets.COOLIFY_TOKEN }}"
